<!DOCTYPE html>
<html>
<head>
  <title>Dnevnik</title>
  <%= csrf_meta_tags %>

  <%= javascript_pack_tag 'teacher' %>
  <%#= stylesheet_pack_tag 'teacher' %>
</head>

<body>
<div id="app"></div>
<%= yield %>
</body>
</html>
